/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	color: #85DB88;
	font-family: "quasimoda", sans-serif;
  	font-weight: 200;
	font-style: italic;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #69B66D;
}

.resume-main {
	background-color: #FFFFFF;
}

.resume-aside {
	background-color: #0F2F0F;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #000000;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.pipi {
	color: #E6E6E6;
	font-family: "arbotek", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.color { 
	color: #020202}

.color2 {
	color: #214B1B
}

.color3 {
	color: #ABABAB
}